{
  "ignore": "node_modules",
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "modules": false // Webpack 3 has its own es6 module compiler
      }
    ]
  ]
}